[Unit]
Description=Feed-Master webooks
After=network.target

[Service]
ExecStart=/usr/bin/feed-master-webhook --db=/opt/feed-master-webhook/feed-master.bdb --conf=/opt/feed-master-webhook/feeds.yml
Restart=always
User=root
Group=root
WorkingDirectory=/opt/feed-master-webhook

[Install]
WantedBy=multi-user.target
